<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <title>Intro Passport SQL</title>
    <link rel="stylesheet" href="vendors/bootstrap/css/bootstrap.css">

    <script type="text/javascript" src ="vendors/angular/angular.min.js"></script>
    <script type="text/javascript" src="vendors/angular-route/angular-route.min.js"></script>

    <script type="text/javascript" src ="scripts/client.js"></script>
  </head>
  <body>
    <div class="banner">
      <h1>Register: Passport SQL</h1>
    </div>
    <div ng-controller="RegistrationController" class="register">
      <div>
        <label for="username">Username:</label>
        <input ng-model="username" type="text" name="username" id="username">
      </div>
      <div>
        <label for="password">Password:</label>
        <input ng-model="password" type="password" name="password" id="password">
      </div>
      <div>
        <a href="/">Login</a>
        <button ng-click="register(username, password)" type="submit">Register</button>
      </div>
    </div>
  </body>
</html>
